#container-box{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 190px;
    width: 560px;
    gap:4px;
}
.box{
    width:140px ;
    border: 2px solid grey;
    background-color: beige;
}
.box:nth-child(1){
    background-color: blanchedalmond;
    display: flex;
}
.part{
    height: 150px;
    width: 50%;
    background-color:white;
    background-image: url('https://www.pexels.com/photo/green-hill-near-body-of-water-462162/');
}
.box:nth-child(2){
    background-color: bisque;
}
.box:nth-child(3){
    background-color: blueviolet;
    display: flex;
}
.box:nth-child(4){
    background-color: rebeccapurple;
}